body {
	background: darkgray;
}
div {
	background: white;
	padding: 100px;
	width: 699px;
	margin: auto;
}
h1,h2,h3 {
	font-family: cambria;
}
p {
	font-family: calibri;
	font-size: 14pt;
}
.timestamp {
	color: lightgray;
	font-size: 70%;
}
.timestamp:hover {
	color: darkgray;
	font-size: 70%;
	cursor: pointer;
}
